<h1>Editing group</h1>

<% form_for(@group) do |f| %>
    <%= f.error_messages %>
    <%= render "group" %>

    <div class="buttonPanel">
        <%= f.submit 'Update' %>
        <%= link_to 'Show', @group %> |
        <%= link_to 'Back', groups_path %>
    </div>
<% end %>

