<h1>Showing Group</h1>

<label>
  <span class="description">User Name:</span>
  <span><%= @group.name %> </span>
</label>
<label>
  <span class="description">Operator:</span>
  <span><%= @group.operator %> </span>
</label>
<label>
  <span class="description">Password:</span>
  <span><%= @group.password %> </span>
</label>
<label>
  <span class="description">Password Type:</span>
  <span><%= @group.password_type %> </span>
</label>

<div class="buttonPanel">
  <%= link_to 'Edit', edit_group_path(@group) %>
  <%= link_to 'Back', groups_path %>
</div>

<h1>Listing Auth History</h1>

<table>
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>Status</th>
    <th>Called Station Id</th>
    <th>Calling Station Id</th>
    <th>Auth Timestamp</th>
  </tr>

<% AuthStatus.find_by_sql(["SELECT * FROM radpostauth WHERE username = ? ORDER BY authdate DESC", @group.name]).each do |auth_status| %>
  <tr>
    <td><%= auth_status.name %></td>
    <td><%= auth_status.password %></td>
    <td><%= auth_status.status %></td>
    <td><%= auth_status.calledstationid %></td>
    <td><%= auth_status.callingstationid %></td>
    <td><%= auth_status.authdate %></td>
  </tr>
<% end %>
</table>