<label>
  <span class="description">Description:</span>
  <%= (editable) ? text_field(:user, :description) : content_tag(:span, @user.description) %>
</label>
<label>
  <span class="description">User Name:</span>
  <%= (editable) ? text_field(:user, :name) : content_tag(:span, @user.name) %>
</label>
<label>
  <span class="description">Operator:</span>
  <%= (editable) ? select(:user, :operator, { ":=" => ":="}, {:include_blank => '- select -'}) : content_tag(:span, @user.operator) %>
</label>
<label>
  <span class="description">Password:</span>
  <%= (editable) ? text_field(:user, :password) : content_tag(:span, @user.password) %>
</label>
<label>
  <span class="description">Password Type:</span>
  <%= (editable) ? select(:user, :password_type, { "Cleartext-Password" => "Cleartext-Password"}, {:include_blank => '- select -'}) : content_tag(:span, @user.password_type) %>
</label>