<h1>Editing user</h1>

<% form_for(@user) do |f| %>
    <%= f.error_messages %>
    <%= render "user" %>

    <div class="buttonPanel">
        <%= f.submit 'Update' %>
        <%= link_to 'Show', @user %>
        <%= link_to 'Back', users_path %>
    </div>
<% end %>

