<h2>Showing user</h2>

<%= render :partial => "user", :locals => { :editable => false } %>

<div class="buttonPanel">
    <%= link_to 'Edit', edit_user_path(@user) %>
    <%= link_to 'Back', users_path %>
</div>

<h2>Listing Auth History</h2>

<table>
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>Status</th>
    <th>Called Station Id</th>
    <th>Calling Station Id</th>
    <th>Auth Timestamp</th>
  </tr>

<% @user.auth_history.each do |auth_status| %>
  <tr>
    <td><%= auth_status.name %></td>
    <td><%= auth_status.password %></td>
    <td><%= auth_status.status %></td>
    <td><%= auth_status.calledstationid %></td>
    <td><%= auth_status.callingstationid %></td>
    <td><%= auth_status.authdate %></td>
  </tr>
<% end %>
</table>