<h2>Listing Auth Results</h2>

<ul data-role="listview">

<% @auth_results.each do |auth_result| %>
  <li>
    Description: <%= auth_result.description %><br />
    Username: <%= auth_result.username %><br />
    Password: <%= auth_result.pass %><br />
    Authorization Status: <%= auth_result.reply %><br />
    Last Authorization Date: <%= auth_result.authdate.to_s(:datetime) %><br />
  </li>
<% end %>
</ul>
