<h2>Listing Auth Results</h2>

<table>
  <tr>
    <th>Description</th>
    <th>User Name</th>
    <th>Password</th>
    <th>Status</th>
    <th>Auth Timestamp</th>
  </tr>

<% @auth_results.each do |auth_result| %>
  <tr>
    <td><%= auth_result.description %></td>
    <td><%= auth_result.username %></td>
    <td><%= auth_result.pass %></td>
    <td><%= auth_result.reply %></td>
    <td><%= auth_result.authdate.to_s(:datetime) %></td>
  </tr>
<% end %>
</table>
