<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
</head>
<body>
    <div data-role="page" id="pageBody">
        <div data-role="header" id="header"><h1>Totally Rad</h1></div>
        <%= render "layouts/topNav" %>
        <div id="notice"><%= notice %></div>
        <div data-role="content" id="content">
            <%= yield %>
        </div>
        <div data-role="footer">
          <h4>&copy; Nabheet Sandhu</h4>
        </div>
    </div>
</body>
</html>
